/test-data
.idea/
node_modules/
target/public/css/style.css
target-prod/
/target/cloud
/target/.parse.project
/target/.parse.local
target/public/js/*.*
npm-debug.log
/target/public/*.*
/target/public/resources/*
/src/cloud/resources/typeformApiKey.js
