@import "variables";
@import "spinkit";
@import "mixins";
@import "libs/rbm-patch";
@import "../../node_modules/lesshat/build/lesshat-prefixed";

body {
  background-color: @background-color;
  font-family: "Helvetica Neue", Helvetica, "Myriad Pro", "Lucida Grande", sans-serif;
  color: @app-font-color;
}

#page-container {
  background-color: @background-color;
}

.container-fluid {
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: @background-color;
  overflow: hidden;
}

#app-view {
  width: 100%;
  height: 100%;
}

.horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

#social-login-button-facebook {
  text-align: center;
  margin: auto;
}

#login-view {
  .logo-container {
    margin: 10px;
    text-align: center;
  }
}

#app-footer {
  text-align: center;
  padding: 0.5em;
  height: @footer-height;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: @app-bg-hover-color;
  }

  .footer-info {
    margin-right: 5ex;
  }
}

#user-topbar {
  .lh-background-image(linear-gradient(to bottom, @topbar-bg-color 0%, @topbar-bg-gradient-color 25%, @topbar-bg-gradient-color 56%, @topbar-bg-color 100%));
  .lh-box-shadow(0 1 4 black);
  min-height: @topbar-height;
  width: 100%;
  position: relative;
  z-index: 99;

  @media (min-width: @screen-sm-min) {
    padding-left: @app-padding-sm / 2;
    padding-right: @app-padding-sm / 2;
  }

  .logo-container {
    display: inline-block;
    max-width: 20%;
    height: @topbar-height;
    vertical-align: middle;
    float: left;
    text-align: center;
  }

  .app-logo {
    font-size: @logo-font-size-small;
    position: relative;
    top: 50%;
    .translate(0, -50%);
  }

  .home-icon {
    margin-left: 0.5em;
    display: inline-block;
    color: @topbar-button-color;
    text-shadow: none;
  }

  .app-logo:hover {
    .home-icon {
      color: @topbar-button-color-hover;
    }

  }

  .or-spacer-vertical {
    float: left;
  }
}

.app-wrapper-default() {
  background-color: @app-background-color;
  border: solid 1px #adadad;
  border-radius: 6px;
}

.app-view-default-container {
  padding-top: 1em;
  height: 100%;

  .row {
    margin: 0;
  }
}

#game-info {
  text-align: center;
  height: @gameinfo-height;
  padding: 0.2em;

  img.opponent-avatar {
    height: @gameinfo-height - 0.4em;
  }
}

#app-wrapper {
  margin: auto;
  .lh-calc(height, ~"100vh - " @footer-height ~ " - " @topbar-height);

  @media (min-width: @screen-sm-min) {
    width: 100% - @app-padding-sm;
  }
  > div {
    height: 100%;
  }
}

#app-user-settings {
  .app-wrapper-default();
  .row {
    margin: 0;
  }
  .row > div {
    padding: 5px;
  }
}

#privacy-settings {
  label {
    margin-right: 0.5rem;
  }
}

#app-menu {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  [class*='col-'] {
    .lh-display(flex);
    .lh-justify-content(center);
    //margin: 1.2rem auto 0.5rem; //fixme margin: 1.2rem auto 0.5rem;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .options {
    .lh-display(flex);
    .lh-flex-wrap(wrap);
    .lh-justify-content(center);
    .lh-align-items(center);

    .btn-menubutton {
      margin: 0.3em;
      font-family: Pacifico, sans-serif;
      font-size: 1.2em;
      .lh-flex(1 1 auto); //.lh-flex(1)
    }
  }

  > .row {
    width: 100%;
    height: 100%;
    .lh-display(flex);
    .lh-flex-direction(column);
    .lh-justify-content(center);

    > div {
    }
  }

  .flexible-panel {
    .lh-flex(1);
    overflow-y: auto;
    .lh-display(flex);
    .lh-flex-wrap(wrap);
    .menu-panel-container {
    }
    min-height: 40%;
  }

  .fixed-height {
    max-height: none !important;
  }
}

#app-menu-options {
  .lh-display(flex);
  .lh-justify-content(center);
  .lh-align-items(center);
  .lh-flex-direction(column);
  margin-bottom: 2rem !important;

  .main-menu-header {
    .app-logo {
      font-size: 2em;
    }
    .title {
      font-family: Pacifico, sans-serif;
      font-size: 1.15em;
      text-align: center;
    }
  }
}

#survey-view {
  height: 100%;
  width: 100%;
  .lh-display(flex);
  .lh-flex-direction(column);
  .lh-justify-content(center);
  .lh-align-items(center);

  > * {
    margin: 1em 0;
  }

  .thanks {
    font-size: 2em;
    font-weight: bold;
  }
}

#actual-games-panel {
  .opponent-avatar {
    height: 1.7em;
  }

  .turn-number {
    font-size: 0.9em;
  }

  //.lh-flex(1);
}

.match-info {
  background-color: @topbar-bg-color;
  margin-bottom: 0.2rem;
  padding: 0.4rem 1rem;
  vertical-align: middle;
  .lh-display(flex);
  .lh-align-items(center);
  color: @topbar-button-color;

  > * {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }

  .opponent-info {
    .lh-flex(1 1 auto); //fixme .lh-flex(1);
    text-align: center;
    .lh-display(flex);
    .lh-align-items(center);
    .lh-justify-content(center);
  }

  .opponent-avatar {
    margin: 0 0.3em;
    height: 1.7em;
  }

  .opponent-avatar-container {
    display: inline-block;
  }

  .game-result {
    background-color: #fff;
    border: 0.07em #8f8f8f solid;
    .lh-border-radius(0.45em);
    text-align: center;
    font-weight: bold;
    color: #000;
    line-height: 1.1em;
  }
}

.match-info:hover {
  background-color: @app-menu-panel-bg-color;
  color: @topbar-button-color;
}

.survey {
  background-color: @survey-bg-color;
  color: @survey-font-color;
}

.request-info {
  background-color: @topbar-bg-color;
  margin-bottom: 0.2rem;
  padding: 0.4rem 1rem;
  vertical-align: middle;
  .lh-display(flex);
  .lh-align-items(center);
  color: @topbar-button-color;

  > * {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }

  .opponent-info {
    .lh-flex(1 1 auto); //fixme .lh-flex(1);
    text-align: center;
    .lh-display(flex);
    .lh-align-items(center);
    .lh-justify-content(center);
  }
}

.request-info:hover {
  background-color: @app-menu-panel-bg-color;
}

#completed-games-panel {
  .emoticon {
    height: 1.7em;
    padding: 0;
  }
  .end-time {
    font-size: 0.9em;
  }
}

#game-requests-panel {

}

#app-game {
  width: 100%;
  height: 100%;

  > div {
    height: 100%;
  }
}

.app-game-default-container {
  .row {
    margin: 0;
  }

  width: 100%;
  height: 100%;

  .game-content {
    .app-wrapper-default();
    .lh-calc(height, ~"100% - " @gameinfo-height);
    overflow: auto;
  }
}

#app-game-waiting-for-opponent {
  padding: 1em;

  .options {
    padding: 0.5em;
    text-align: center;
    > * {
      margin: 0 0.2em;
    }
  }
}

#app-game-waiting-to-send-data {
  width: 100%;
  height: 100%;
}

#loading-view {
  height: 100%;
}

#app-camera-view {
  .app-wrapper-default();
}

#newgame-menu {
  .app-wrapper-default();
  padding: 1rem;
  > * {
    margin: 0.4em;
  }
  text-align: center;

  .row {
    .lh-display(flex);
    .lh-justify-content(center);

    .options {
      .lh-display(flex);
      .lh-flex-direction(column);

      .btn-menubutton {
        margin: 0.2em;
      }

      .btn-home {
        margin-top: 1em;
      }
    }
  }

}

#app-game-camera-view {
  .lh-display(flex);
  flex-flow: column;
  width: 100%;
  height: 100%;

  > * {

  }
}

.camera-view-description {
  padding: 0.5em;
  .lh-flex(initial);
  min-height: 2.5em;
  max-height: 30%;
  overflow-y: auto;

  .task-description {

  }
}

.camera-view-area {
  .lh-flex(1);
  .lh-display(flex);
  flex-flow: row wrap;
}

.camera-view-preview {
  .lh-flex(10);
  position: relative;

  //fixme workaround to div added by react-dimensions
  div {
    position: absolute;
  }
}

#camera-preview-container {
  width: 100%;
  height: 100%;

  //
  position: absolute;
}

#camera-canvas {
  margin: auto;
  position: relative;
}

#camera-canvas-photo-area {
  border: 0.2em #FFE214 solid;
  position: absolute;
  left: 50%;
  top: 0;
  .translate(-50%, 0);
}

#camera-canvas-topic {
  position: absolute;
  left: 50%;
  bottom: 5%;
  .translate(-50%, 0);
  background-color: @app-background-color;
  .lh-border-radius(0.5em);
  padding: 0.15em;
  z-index: 999;
}

#camera-options {
  //height: 100%;
  //background-color: @app-background-color-dark;

  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  .lh-flex(2);
}

#app-find-random-opponent {
  .app-wrapper-default();
  text-align: center;
  padding: 0.5em;

  .opponent-info {
    font-size: 2rem;
    padding: 1em;
  }
  .options {
    padding: 1em;
  }
}

#turn-summary {
  text-align: center;
  padding: 1em;

  .emoticon {
    height: auto;
    width: auto;
    max-height: 40%;
  }
}

#app-singleplayer-match {
  text-align: center;
  padding: 1em;
}

.emoticon {
  img {
    height: 100%;
    width: auto;
  }
  padding: 0.5rem;
}

#match-summary {
  padding: 0.7rem;
  .lh-display(flex);
  .lh-flex-direction(column);
  text-align: center;
  height: 100%;

  .result-numbers {
    font-size: 3rem;
    font-weight: bold;
  }
  .result-numbers-container {
    max-height: 6rem;
  }
  .turns {
    .lh-flex(5);
    overflow-y: auto;
    .lh-display(flex);
    .lh-flex-direction(column);
    padding-top: 0.3em;
    padding-bottom: 0.5em;

    .turn-result {
      .lh-flex(1);
      height: 20%;
      .lh-display(flex);
      padding: 0.4em 0;
      .lh-justify-content(center);

      [class*='col-'] {
        .lh-display(flex);
        .lh-flex-direction(column);
        //height: 100%; //fixme
      }
    }
    .turn-result:nth-child(odd) {
      background-color: @summary-turn-result-odd-color;
    }
    .turns-header {
      .lh-display(flex);
      .lh-justify-content(center);
    }
  }
  .options {
    a {
      margin: 0.5rem;
    }
  }
  #bonus-events-panel {
    .lh-flex(1);
    overflow-y: auto;
    background-color: @summary-turn-plank-bg-color;
    .lh-display(flex);
    .lh-flex-direction(column);
    text-align: center;
    .lh-justify-content(center);
    border: 0.07em #8f8f8f solid;
    .lh-border-radius(0.5em);
    font-size: 1.2em;

    .bonus-event-value {
      font-weight: 900;
    }
  }

  .challenge-send {
    text-align: center;
    font-size: 1.5em;
  }
}

.summary-result-plank {
  width: auto;
  height: 100%;
  .lh-display(flex);
  .lh-flex-direction(column);
  .lh-justify-content(center);
  .lh-border-radius(0.5em);
  .lh-drop-shadow(0.1em 0.1em 0.1em #4D4D4D);

  font-size: 2.0rem;
  line-height: 0.9em;

}

.summary-result-plank-valid {
  background-color: @summary-plank-valid-bg-color1;
  .lh-background-image(linear-gradient(135deg, @summary-plank-valid-bg-color1 0%, @summary-plank-valid-bg-color2 100%));
  border: 0.07em darken(@summary-plank-valid-bg-color2, 10%) solid;
}

.summary-result-plank-wrong {
  background-color: @summary-plank-wrong-bg-color1;
  .lh-background-image(linear-gradient(135deg, @summary-plank-wrong-bg-color1 0%, @summary-plank-wrong-bg-color2 100%));
  border: 0.07em darken(@summary-plank-wrong-bg-color2, 10%) solid;
}

.summary-turn-plank-container {
  .lh-justify-content(center);
}

.summary-turn-plank {
  .lh-display(flex);
  background-color: @summary-turn-plank-bg-color;
  border: 0.07em #8f8f8f solid;
  .lh-border-radius(0.5em);
  .lh-drop-shadow(0.1em 0.1em 0.1em #4D4D4D);

  .lh-align-items(center);
  .lh-justify-content(center);
  min-width: 3em;
  padding: 0.2em;

  .turn-number {
    font-size: 2em;
    font-weight: bold;
  }
  .photo {
    height: 100%;
    padding: 0.2em;

    img {
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: block;

      position: relative;
      .translate(-50%, 0);
      //top: 50%;
      left: 50%;
    }

  }
}

.result-summary {
  .lh-display(flex);

  .result-numbers-container {
    text-align: center;
  }

  .winner-info {

  }
}

.result-summary-single {
  .lh-display(flex);
  .lh-justify-content(center);

  [class*='col-'] {
    .lh-display(flex);
    .lh-flex-direction(column);
  }

  .result-numbers-container {
    text-align: left;
    .lh-display(flex);
    .lh-align-items(center);
    .lh-justify-content(center);
    margin: auto 0;

    div {
      padding-left: 0.1em;
      padding-right: 0.1em;
    }

    .emoticon {
      height: 4rem;
    }
  }
}

/*
Modal modifications
*/
.modal-content {
  background-color: @modal-content-bg;
  color: @modal-content-color;
  font-weight: 200;
  text-align: justify;
  padding: 2em;
}

.modal-header {
  border-bottom-color: @modal-header-border-color;
}

.modal-title {
  color: @modal-title-color;
}

.close {
  color: #d4c073;
  text-shadow: 0 1px 0 #8a8a8a;
  opacity: 0.4;
}

.close:hover, .close:focus {
  color: #f4e08a;
}

#app-page-modal-like {
  text-align: center;
}

.browser-icons {
  display: flex;
  height: 6em;
  > div {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
  }
}

/*
Components styles
*/

#fullscreen-button {
  position: fixed;
  bottom: 1%;
  right: 1%;
  font-size: x-large;
}

#fullscreen-button:hover, #fullscreen-button:focus {
  color: @app-bg-hover-color;
}

#user-panel {
  float: right;
  width: 40%;
  height: @topbar-height;
  display: inline-table;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: middle;
  text-align: right;

  .username {
    color: @topbar-button-color;
    font-size: 1.2em;
    font-family: "Aladin", Helvetica, sans-serif;
    .insetshadow(@topbar-button-color);
  }

  .col {
    height: 100%;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }

  .avatar-col {
    width: 4/3*@topbar-height;
  }

  .settings-col {
    width: 40px;
    font-size: 20px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: @topbar-button-color;
  }

  a:hover {
    color: @topbar-button-color-hover;
  }
}

#user-panel-avatar {
  padding: 2/30*@topbar-height;
  background-color: @topbar-avatar-bg-color;
  .lh-drop-shadow(1 1 4 black);
  .lh-rotate(3.5);
  display: inline-block;
  position: relative;
  bottom: -5px;

  img {
    height: @topbar-height*0.8;
    border: solid 1px #aca695;
  }
}

#achievements-panel {
  width: 35%;
  height: @topbar-height;
  .lh-display(inline-flex);
  .lh-align-items(center);

  .emoticon {
    max-height: 100%;
    height: @topbar-height;
  }
  span {
    color: @topbar-button-color;
    font-size: 1.2em;
    font-family: "Aladin", Helvetica, sans-serif;
  }
  .player-rank {
    .lh-display(flex);
    .lh-flex-direction(column);
    .lh-justify-content(center);
    text-align: center;
  }
  .player-points {
    .lh-display(flex);
    .lh-flex-direction(column);
    .lh-justify-content(center);
    text-align: center;
  }
  .description {
    font-size: 0.5em;
    text-align: center;
  }

}

.menu-horizontal-container {
  height: 33.33%;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}

.menu-panel-container {
  .title {
    position: absolute;
    top: -1em;
    font-family: Pacifico, sans-serif;
    font-size: 1.15em;
  }
}

.menu-panel {
  .lh-border-radius(1.5%);
  padding: 1ex;
  overflow-y: auto;
  //max-height: 100%; //fixme
}

.menu-panel-content {
}

.btn-answerbutton {
  padding: 1.5em 1.5em;
  font-size: 2.2rem;
  background-color: @btn-answer-bg-color1;
  .lh-background-image(linear-gradient(135deg, @btn-answer-bg-color1 0%, @btn-answer-bg-color2 100%));
  border: 0.07em darken(@btn-answer-bg-color2, 10%) solid;
  .lh-drop-shadow(0.1em 0.1em 0.2em black);
}

.btn-answerbutton:hover {
  .lh-background-image(linear-gradient(135deg, @btn-answer-bg-color2 0%, darken(@btn-answer-bg-color2, 10%) 100%));
}

#camera-preview-photo {
  width: 100%;
  height: 100%;
  text-align: center;

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }
}

#app-game-choose-photo-topic {
  .task-description {
    margin: 0.5em 0;
  }
  .answer-button-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.task-description {
  font-size: 1.4em;
  text-align: center;
  width: 95%;
  .lh-border-radius(0.5em);
  border: 0.1em solid rgb(218, 218, 218);

  position: relative;
  .translate(-50%, 0);
  left: 50%;
}

#answer-question {
  text-align: center;
  padding: 0.5em;
  .lh-display(flex);
  .lh-flex-direction(column);
  height: 100%;

  .answer-button-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .task-description {
    margin-bottom: 0.5em;
  }

  > div.row {
    .lh-flex(1);
  }

  .options {
    .lh-border-radius(0.5em);
    border: 0.1em solid rgb(218, 218, 218);
    padding: 0.5em;
    margin-top: 0.5em;
    display: table;

    .btn-menubutton {
      display: table-cell;
    }

    .report-description {
      display: table-cell;
      padding-left: 0.5rem;
      text-align: justify;
    }
  }
}

#photo-question {
  //height: 80%;
  //max-height: 80%;

  img {
    //position: relative;
    //top: 50%;
    //.translate(0, -50%);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.summary-avatar {
  border-bottom: dashed #5F5F63 0.4em;
  .lh-display(flex);
  .lh-align-items(center);

  * {
    padding: 0.2em;
    order: 1;
  }
  .nick {
    font-size: 2rem;
  }
}

.summary-avatar-inverted {
  .lh-justify-content(flex-end);

  img {
    order: 2;
  }
}

#ranking {
  .lh-display(flex);
  .lh-flex-direction(column);
  height: 100%;
  padding: 0.5rem 0.8rem;
  text-align: center;

  .header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.2em;
  }
  .top-players {
    .lh-flex(11);
    .lh-display(flex);
    .lh-flex-direction(column);
    font-size: 1.2em;

    .top-player-row:nth-child(odd) {
      background-color: @summary-turn-result-odd-color;
    }
    .top-player-header {
      .lh-flex(0.5);
      .lh-display(flex);
      .lh-align-items(center);
      background-color: @ranking-top-header-color;
      color: #fff;
    }
  }
  .top-player-row {
    .lh-flex(1);
    .lh-display(flex);
    .lh-align-items(center);
    .lh-justify-content(center);

    .rank-avatar {
      .lh-flex-direction(row) !important;
      .lh-justify-content(center);
    }
    .avatar-container {
      position: absolute;
      height: 100%;
      left: 50%;
      .translate(-50%, 0);
      top: 0;
      img {
        max-height: 100%;
        max-width: 100%;
        position: relative;
      }
    }
  }
  .user-row {
    background-color: @ranking-user-row-color !important;
  }
  .user-rank {
    .lh-flex(2);
  }
  .options {
    padding-top: 0.5rem;
  }
  [class*='col-'] {
    .lh-display(flex);
    .lh-flex-direction(column);
  }
}

#app-facebook-friend-challenge {
  height: 100%;
  padding: 0.4rem;
  .lh-display(flex);
  .lh-flex-direction(column);

  .header {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5em;
    font-weight: bold;

    > * {
      display: inline;
      text-align: center;
    }
  }

  .invite-friends {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.4em;

    > span {
      margin: 0 0.2em;
    }
  }

  .friends-list {
    .lh-display(flex);
    .lh-flex(1);
    overflow-y: auto;
    .lh-flex-direction(column);

    .friend-row {
      .lh-display(flex);
      .lh-flex(1);
      .lh-align-items(center);
      max-height: 80px;
    }

    .friend-row-header {
      .lh-flex(0.5);
      .lh-display(flex);
      .lh-align-items(center);
      background-color: @ranking-top-header-color;
      color: #fff;
      max-height: 80px;
    }

    .friend-row:nth-child(odd) {
      background-color: @summary-turn-result-odd-color;
    }
  }

  .options {
    margin-top: 0.5em;
    text-align: center;
  }

  .request-send-info {
    text-align: center;
  }
}

#report-photo-question {
  padding: 0.5em;
  .lh-display(flex);
  .lh-flex-direction(column);

  .header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  .photo {
    .lh-flex(1);
    text-align: center;
    width: 100%; //fixme
    img {
      width: auto;
      height: auto;
      max-width: 75%;
      max-height: 75%;
    }
  }

  .options {
    text-align: center;

    > * {
      margin: 0.5rem;
    }
  }

  [class*='col-'] {
    text-align: center;
  }
  label {
    margin-right: 0.5rem;
  }

  p {
    text-align: justify;
  }

  .error {
    text-align: center;
    font-size: 1.5em;
    .error-msg {
      text-align: center;
    }
    > i {
      margin-right: 0.5em;
    }
    > * {
      display: inline-block;
    }
  }

  .success {
    text-align: center;
    font-size: 1.5em;

    > i {
      margin-right: 0.5em;
    }
    > * {
      display: inline-block;
    }
  }
}

/*
Utils styles
*/

.screen-center {
  left: 50%;
  top: 50%;
  position: absolute;
  .translate(-50%, -50%);
}

.parent-center {
  left: 50%;
  top: 50%;
  position: relative;
  .translate(-50%, -50%);
}

.loading-bar1 {
  text-align: center;
  font-size: x-large;
  font-weight: 300;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}

.loading-bar1.white {
  color: #fff;
}

.loading-bar1.dark {
  color: @app-menu-panel-bg-color;
}

.app-logo {
  color: #fff;
  font-family: Pacifico, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

.big-text {
  font-size: @logo-font-size-big;

  .description {
    font-size: @logo-font-size-big-description;
  }
}

.or-spacer-vertical {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  position: relative;

  .mask {
    overflow: hidden;
    width: 20px;
    height: @topbar-height;
    //outline:1px solid pink;
  }
  &.left .mask:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px; /// 125px;
    box-shadow: 0 0 8px black;
  }
  &.right .mask:before {
    content: '';
    display: block;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 8px black;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
