@import "variables";
@import "spinkit";
@import "mixins";
@import "libs/rbm-patch";
@import "../../node_modules/lesshat/build/lesshat-prefixed";

body {
  background-color: @background-color;
  font-family: "Helvetica Neue", Helvetica, "Myriad Pro", "Lucida Grande", sans-serif;
  color: @app-font-color;
}

#page-container {
  background-color: @background-color;
}

.container-fluid {
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: @background-color;
}

#app-view {
  width: 100%;
  height: 100%;
}

.horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

#social-login-button-facebook {
  text-align: center;
  margin: auto;
}

#login-view {
  .logo-container {
    margin: 10px;
    text-align: center;
  }
}

#app-footer {
  text-align: center;
  padding: 0.5em;
  height: @footer-height;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: @app-bg-hover-color;
  }

  .footer-info {
    margin-right: 5ex;
  }
}

#user-topbar {
  .lh-background-image(linear-gradient(to bottom, @topbar-bg-color 0%, @topbar-bg-gradient-color 25%, @topbar-bg-gradient-color 56%, @topbar-bg-color 100%));
  .lh-box-shadow(0 1 4 black);
  min-height: @topbar-height;
  width: 100%;
  position: relative;
  z-index: 99;

  @media (min-width: @screen-sm-min) {
    padding-left: @app-padding-sm / 2;
    padding-right: @app-padding-sm / 2;
  }

  .logo-container {
    display: inline-block;
    max-width: 20%;
    height: @topbar-height;
    vertical-align: middle;
    float: left;
    text-align: center;
  }

  .app-logo {
    font-size: @logo-font-size-small;
    position: relative;
    top: 50%;
    .translate(0, -50%);
  }

  .or-spacer-vertical {
    float: left;
  }
}

.app-wrapper-default() {
  background-color: @app-background-color;
  border: solid 1px #adadad;
  border-radius: 6px;
}

.app-view-default-container {
  padding-top: 1em;
  height: 100%;
}

#game-info {
  text-align: center;
  height: @gameinfo-height;
  padding: 0.2em;

  img.opponent-avatar {
    height: @gameinfo-height - 0.4em;
  }
}

#app-wrapper {
  margin: auto;
  .lh-calc(height, ~"100vh - " @footer-height ~ " - " @topbar-height);

  @media (min-width: @screen-sm-min) {
    width: 100% - @app-padding-sm;
  }
}

#app-user-settings {
  .app-wrapper-default();
  .row {
    margin: 0;
  }
  .row > div {
    padding: 5px;
  }
}

#actual-games-panel {
  .opponent-avatar {
    height: 1.7em;
  }
  .match-info * {
    display: inline-block;
  }
}

#completed-games-panel {
  .opponent-avatar-container {
    display: inline-block;
  }
  .opponent-avatar {
    height: 1.7em;
  }
}

#app-game {
  width: 100%;
  height: 100%;
}

.app-game-default-container {
  .row {
    margin: 0;
  }

  width: 100%;

  .game-content {
    .app-wrapper-default();
    .lh-calc(height, ~"100% - " @gameinfo-height);
    overflow: scroll;
  }
}

#app-game-waiting-for-opponent {
  padding: 1em;

  .options {
    padding: 0.5em;
    text-align: center;
  }
}

#app-game-waiting-to-send-data {
  width: 100%;
  height: 100%;
}

#app-camera-view {
  .app-wrapper-default();
}

#newgame-menu {
  .app-wrapper-default();
  padding: 1rem;
  > * {
    margin: 0.4em;
  }
}

#app-game-camera-view {
  //display: flex;
  .lh-display(flex);
  //flex-direction: column;
  flex-flow: column;
  width: 100%;
  height: 100%;

  > * {
    //flex: 1 100%;
  }
}

.camera-view-description {
  //height: @camera-view-description-height;
  padding: 0.5em;
  //flex: initial;
  .lh-flex(initial);
  min-height: 2.5em;
  max-height: 30%;
  overflow: scroll;

  .task-description {
    //position: relative;
    //top: 50%;
    //left: 50%;
    //.translate(-50%, -50%);
  }
}

.camera-view-area {
  //.lh-calc(height, ~"100% - " @camera-view-description-height);

  //flex: 1;
  .lh-flex(1);
  //
  //display: flex;
  .lh-display(flex);
  flex-flow: row wrap;
}

.camera-view-preview {
  //height: 100%;

  //
  //flex: 10;
  .lh-flex(10);
  position: relative;

  //fixme workaround to div added by react-dimensions
  div {
    position: absolute;
  }
}

#camera-preview-container {
  width: 100%;
  height: 100%;

  //
  position: absolute;
}

#camera-canvas {
  width: 100% !important;
  height: 100% !important;
}

#camera-canvas-photo-area {
  border: 0.2em #FFE214 solid;
  position: absolute;
  left: 50%;
  top: 0;
  .translate(-50%, 0);
}

#camera-canvas-topic {
  position: absolute;
  left: 50%;
  bottom: 5%;
  .translate(-50%, 0);
  background-color: @app-background-color;
  .lh-border-radius(0.5em);
  padding: 0.15em;
}

#camera-options {
  //height: 100%;
  background-color: @app-background-color-dark;

  padding-top: 1em;
  padding-bottom: 1em;

  .lh-flex(2);
}

#app-find-random-opponent {
  .app-wrapper-default();
  text-align: center;
  padding: 0.5em;

  .opponent-info {
    font-size: 2rem;
    padding: 1em;
  }
  .options {
    padding: 1em;
  }
}

#turn-summary {
  text-align: center;
  padding: 1em;

  .emoticon {
    height: auto;
    width: auto;
    max-height: 40%;
  }
}

.emoticon {
  img {
    height: 100%;
    width: auto;
  }
  padding: 0.5em;
}

#match-summary {
  padding: 0.7rem;

  .result-numbers {
    font-size: 3rem;
    font-weight: bold;
  }
  .result-numbers-container {
    max-height: 6rem;
  }
}

.result-summary {
  display: flex;

  .result-numbers-container {
    text-align: center;
  }

  .winner-info {

  }
}

.result-summary-single {
  display: flex;

  [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .result-numbers-container {
    text-align: left;
    display: flex;
    align-items: center;
    margin: auto 0;


    div {

      padding-left: 0.1em;
      padding-right: 0.1em;
    }
  }
}

/*
Modal modifications
*/
.modal-content {
  background-color: @modal-content-bg;
  color: @modal-content-color;
  font-weight: 200;
  text-align: justify;
  padding: 2em;
}

.modal-header {
  border-bottom-color: @modal-header-border-color;
}

.modal-title {
  color: @modal-title-color;
}

.close {
  color: #d4c073;
  text-shadow: 0 1px 0 #8a8a8a;
  opacity: 0.4;
}

.close:hover, .close:focus {
  color: #f4e08a;
}

/*
Components styles
*/

#fullscreen-button {
  position: fixed;
  bottom: 1%;
  right: 1%;
  font-size: x-large;
}

#fullscreen-button:hover, #fullscreen-button:focus {
  color: @app-bg-hover-color;
}

#user-panel {
  float: right;
  width: 40%;
  height: @topbar-height;
  display: inline-table;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: middle;
  text-align: right;

  .username {
    color: @topbar-button-color;
    font-size: 1.2em;
    font-family: "Aladin", Helvetica, sans-serif;
    .insetshadow(@topbar-button-color);
  }

  .col {
    height: 100%;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }

  .avatar-col {
    width: 4/3*@topbar-height;
  }

  .settings-col {
    width: 40px;
    font-size: 20px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: @topbar-button-color;
  }

  a:hover {
    color: @topbar-button-color-hover;
  }
}

#user-panel-avatar {
  padding: 2/30*@topbar-height;
  background-color: @topbar-avatar-bg-color;
  .lh-drop-shadow(1 1 4 black);
  .lh-rotate(3.5);
  display: inline-block;
  position: relative;
  bottom: -5px;

  img {
    height: @topbar-height*0.8;
    border: solid 1px #aca695;
  }
}

#achievements-panel {
  width: 35%;
  display: inline-block;
}

.menu-horizontal-container {
  height: 33.33%;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}

.menu-panel-container {

}

.menu-panel {
  background-color: @app-menu-panel-bg-color;
  color: @app-menu-panel-font-color;
  height: 100%;
  .lh-border-radius(1.5%);
  padding: 1ex;
}

.menu-panel-content {
  overflow: scroll;
  height: 100%;
}

.btn-answerbutton {
  padding: 1.5em 1.5em;
  font-size: 2.2rem;
  background-color: @btn-answer-bg-color1;
  .lh-background-image(linear-gradient(135deg, @btn-answer-bg-color1 0%, @btn-answer-bg-color2 100%));
  border: 0.07em darken(@btn-answer-bg-color2, 10%) solid;
  .lh-drop-shadow(0.1em 0.1em 0.2em black);
}

.btn-answerbutton:hover {
  .lh-background-image(linear-gradient(135deg, @btn-answer-bg-color2 0%, darken(@btn-answer-bg-color2, 10%) 100%));
}

#camera-preview-photo {
  .photo-area {
    .lh-calc(height, ~"100% - 3em");
    width: auto;
  }
  .photo-menu {
    height: 3em;
  }
}

#app-game-choose-photo-topic {
  .task-description {
    margin: 0.5em 0;
  }
  .answer-button-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.task-description {
  font-size: 1.4em;
  text-align: center;
  width: 95%;
  .lh-border-radius(0.5em);
  border: 0.1em solid rgb(218, 218, 218);

  position: relative;
  .translate(-50%, 0);
  left: 50%;
}

#answer-question {
  text-align: center;
  padding: 0.5em;

  .answer-button-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .task-description {
    margin-bottom: 0.5em;
  }
}

#photo-question {
  height: 80%;
  //max-height: 80%;

  img {
    position: relative;
    top: 50%;
    .translate(0, -50%);
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.summary-avatar {
  border: solid #000000 0.1em;
  .lh-display(flex);
  align-items: center;

  * {
    padding: 0.2em;
    order: 1;
  }
  .nick {
    font-size: 2rem;
  }
}

.summary-avatar-inverted {
  justify-content: flex-end;

  img {
    order: 2;
  }
}

/*
Utils styles
*/

.screen-center {
  left: 50%;
  top: 50%;
  position: absolute;
  .translate(-50%, -50%);
}

.parent-center {
  left: 50%;
  top: 50%;
  position: relative;
  .translate(-50%, -50%);
}

.loading-bar1 {
  text-align: center;
  font-size: x-large;
  font-weight: 300;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}

.loading-bar1.white {
  color: #fff;
}

.loading-bar1.dark {
  color: @app-menu-panel-bg-color;
}

.app-logo {
  color: #fff;
  font-family: Pacifico, sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

.big-text {
  font-size: @logo-font-size-big;

  .description {
    font-size: @logo-font-size-big-description;
  }
}

.or-spacer-vertical {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  position: relative;

  .mask {
    overflow: hidden;
    width: 20px;
    height: @topbar-height;
    //outline:1px solid pink;
  }
  &.left .mask:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px; /// 125px;
    box-shadow: 0 0 8px black;
  }
  &.right .mask:before {
    content: '';
    display: block;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 8px black;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
