/*Defined screen sizes from bootstrap*/
@screen-xs-max: 767px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

/*Colors*/
@app-background-color: #F1F1F1;//#d5dae2;
@background-color: rgb(0, 132, 198);//#4985D6;

@app-font-color: #202020;
@app-bg-hover-color: contrast(@app-font-color);

@topbar-bg-color: darken(@background-color, 10%);//darken(#4985D6, 18%);
@topbar-bg-gradient-color: lighten(desaturate(@topbar-bg-color, 15%), 5%);
@topbar-avatar-bg-color: #e8e2cb;
@topbar-button-color: #d5dae2;
@topbar-button-color-hover: contrast(@topbar-button-color);

/*Font sizes*/
@logo-font-size-big: 12vw;
@logo-font-size-big-description: 4vw;

/*Elements sizes*/
@topbar-height: 60px;
@app-padding-sm: 5%;